---
layout: page
title: Home
permalink: /
---

<!--
<div class="jumbotron">
 <h1>Eidul Adha Announcement</h1>
 <p>The Fiqh Council of North America announces that the final determination of the date of Eidul Adha will be <strong>Monday, September 12, 2016</strong>. 
 <a class="btn btn-primary btn-lg" href="/events/" role="button">Learn more</a></p>
</div>
-->

<blockquote class="pull-right">
  ...قُلْ يَا أَهْلَ الْكِتَابِ تَعَالَوْاْ إِلَى كَلَمَةٍ سَوَاء بَيْنَنَا وَبَيْنَكُمْ أَلاَّ نَعْبُدَ إِلاَّ اللّهَ وَلاَ نُشْرِكَ بِهِ شَيْئاً ...
  <small>آل عمران 64</small>
</blockquote>

<blockquote style="clear:both">
  O People of the Book (Jews and Christians): Come to a word (in good terms) that is just between us and you, that we worship none but God (alone)
  <small>{Quran: Al Imran (Family of Imran, Father of Virgin Mary): Verse 64}</small>
</blockquote>

<p><strong>As-Salaam-Alaikum (peace be unto you) Brothers and Sisters,</strong></p>

<p>The Islamic Center of Emporia, Kansas (ICEK), is a non-profit religious organization.  Its goals are exclusively religious, educational, and charitable within the meaning as defined in Section 501 (c) (3) of the Internal Revenue Code of the United States of America.  It is a place where members gather to worship Almighty God, celebrate social and cultural occasions, learn, study, exchange wisdom, promote mutual understanding, tolerance, and engage in a dialogue with all other people and leaders in the Emporia community.</p>

<p>The ICEK kicked-off a fundraising project on March 07, 2015 with a goal to raise $100,000. You can learn more about the project and give for the sake of Allah by clicking <a href="/fundraising/">here</a>.</p>

<p><strong>Jazak Allahu Khayran (may Allah reward you with goodness),</strong></p>

<p>Executive Committee, Islamic Center of Emporia</p>
