 <footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <p>© 2018 Islamic Center of Emporia</p>
      </div>
      <div class="col-xs-12 col-md-8">
        <p class="pull-right"><i class="fa fa-location-arrow"> 1125 Mechanic St, Emporia, KS 66801</i> • <i class="fa fa-envelope"> <a href="mailto:islamiccenterofemporia@gmail.com">islamiccenterofemporia@gmail.com</a></i> • <i class="fa fa-phone"><a href="tel:620-343-9229"> 620-343-9229</a></i></p>
      </div>
    </div>
  </div>
</footer>
