<!DOCTYPE html>
<html class="no-js" lang="en">

  {% include head.html %}

  <body>

    {% include header.html %}
    
    <div class="container">

      <div class="row">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

    {% include footer-scripts.html %}

    {% include google-analytics.html %}

  </body>

</html>
