---
layout: default
---

<div class="col-xs-12 col-md-8">
  <h2 class="post-title">{{ page.title }}</h2>
  <article>
    {{ content }}
  </article>
</div>

<div class="text-center col-xs-12 col-md-4">
  <h3>Azan</h3>
  <iframe id="iframe" style="width: 182px; height: 358px; border: 1px solid #ddd;" frameborder="0" scrolling="no" src="https://www.islamicfinder.org/prayer-widget/4271086/shafi/5/0/15.0/15.0"> </iframe>
  <table class="table prayerTimes">
    <caption><h3>Prayer Times</h3></caption>
    <thead>
      <tr>
        <th></th>
        <th>Fajr</th>
        <th>Dhuhr</th>
        <th>Asr</th>
        <th>Maghrib</th>
        <th>Isha</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><i class="fa fa-street-view"><br/>Prayer</i></td>
        <td>6:45AM</td>
        <td>1:45PM</td>
        <td>3:15PM</td>
        <td>10 mins after Azan Time</td>
        <td>7:00PM</td>
      </tr>
    </tbody>
  </table>
  <p class="text-center small"><strong>Friday Prayer (Jumu'ah) is 12:15 p.m. to 12:45 p.m.</strong></p>
</div>
